<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>regionCode</key>
	<string>NA</string>
	<key>gameCode</key>
	<string>novasonic</string>
	<key>sCode</key>
	<string>ios</string>
	<key>facebookAppId</key>
	<string>223811674818591</string>
	<key>facebookClientToken</key>
	<string>75a0f45f64aaf679efd5da021031ba7d</string>
	<key>sharingUrl</key>
	<string>https://www.baidu.com/</string>
	<key>layout_orientation</key>
	<string>landscape</string>
	<key>appleAppId</key>
	<string>1486765459</string>
	<key>adjustAppToken</key>
	<string>zft5f9iek4xs</string>
	<key>adjustDefaultTracker</key>
	<string></string>
	<key>adjustSecretId</key>
	<string></string>
	<key>adjustInfo1</key>
	<string></string>
	<key>adjustInfo2</key>
	<string></string>
	<key>adjustInfo3</key>
	<string></string>
	<key>adjustInfo4</key>
	<string></string>
	<key>adjustWaitingInterval</key>
	<string>360</string>
	<key>tdAppId</key>
	<string>022da7e60b5c4cd28598a3374f76a8f2</string>
	<key>tdServerUrl</key>
	<string>https://east1-r.novasonicgames.com/</string>
	<key>cmpId</key>
	<string>5480944b61e75</string>
	<key>cmpDomain</key>
	<string>delivery.consentmanager.net</string>
	<key>zendeskChannelKey</key>
	<string>eyJzZXR0aW5nc191cmwiOiJodHRwczovL25vdmFzb25pYy56ZW5kZXNrLmNvbS9tb2JpbGVfc2RrX2FwaS9zZXR0aW5ncy8wMUo3QUtNVlFIUUNERjlSRUQ2Tk5TQVEwSC5qc29uIn0=</string>
	<key>developerMode</key>
	<string>develop</string>
	<key>developerEnvironment</key>
	<string>test</string>
	<key>sdkTag</key>
	<string>novasonic.games</string>
	<key>maxSdkKey</key>
	<string>Zd2WoNDz2g5hlIRHRI2HUb0E96nPZi1pGZ_vRiAwB2fPuHpcmufcvCJh2umiXDAH7hM_JsUWVlXTTuQbSRsm7H</string>
	<key>sobotAppKey</key>
	<string>c3d317f575174548b19c8474bf685d90,c3d317f575174548b19c8474bf685d90,c3d317f575174548b19c8474bf685d90</string>
	<key>sobotHost</key>
	<string>https://sg.sobot.com</string>
	<key>layoutOrientation</key>
	<string>portrait</string>
	<key>maxRewardedUnitIds</key>
	<string>2b9dfe37d2b5dd28,7b80cebdc6faa132</string>
	<key>admobRewardedUnitIds</key>
	<string>ca-app-pub-3940256099942544/1712485313</string>
	<key>vkClientId</key>
	<string>53754787</string>
	<key>vkClientSecret</key>
	<string>jYNYovOA1XPxM5W4IISf</string>
	<key>lineChannelId</key>
	<string>2007881009</string>
	<key>lineSecret</key>
	<string></string>
	<key>ttAppId</key>
	<string>11</string>
	<key>ttAppSecret</key>
	<string>sfsf</string>
	<key>hhGameToken</key>
	<string>TVuSI9E2AYddyEQ6GsKcyoQiu2lWgHWt7cZxMkW0D0goMlDJHEdkvlypXT3H</string>
	<key>kakaoAppKey</key>
	<string>bc1ae6a90150bab5055deb56b9c413cf</string>
	<key>maxAppOpenUnitIds</key>
	<string>81df467b41c0d195</string>
	<key>admobAppOpenUnitIds</key>
	<string>ca-app-pub-3940256099942544/5575463023</string>
</dict>
</plist>
